@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑"; color:#333; background:#f8f8f8;}
a{color:#333; text-decoration:none; outline:none;}
a:active{star:expression(this.onFocus=this.blur());} 
img{border:0px;}
a:link {text-decoration: none; outline:none;}
a:visited{text-decoration: none; outline:none;}
a:hover{text-decoration:none; color:#e7101e; outline:none;}
ul, p, dl, dt, dd{padding:0px; margin:0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}
h1{font-size:16px;}
h5{font-size:12px;}
.fl{float:left;}
.fr{float:right;}
.clear_f{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}
.h10{height:10px; overflow:hidden; clear:both;}

.wal{width:980px; margin:0px auto; overflow:hidden;}

a, .sideNav, .pageWal{
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.no-transition {
	-webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
	
.logo{position:absolute; left:50%; top:50%; margin-left:-60px; margin-top:-120px;}	
.logoName{position:absolute; width:100%; text-align:center; left:0; top:50%; margin-top:120px; font-size:18px; letter-spacing:10px;}	

.pageWal{min-height:200px; _height:200px; position:relative; left:0px; padding-top:44px;}
.pageWalNow{left:70%;}

.headDiv{background:#181818; height:44px; width:100%; position:fixed; z-index:20; left:0px; top:0px;}
.headDiv .btn{display:block; background:url(../image/ico1.gif) left top no-repeat; width:25px; height:22px; overflow:hidden; position:absolute; z-index:21; left:10px; top:10px;}
.headDiv .imgDiv{text-align:center; padding-top:5px;}

.sideNav{width:70%; height:100%; background:#ebebeb; position:fixed; z-index:50; transform: translate3d(-10000px, 0px, 0px); -webkit-transform: translate3d(-10000px, 0px, 0px); top:0px; box-shadow:3px 3px 5px #666;}
.sideNavNow{left:0px;}
.sideNav li{border-bottom:#999 solid 1px; float:left; width:100%;}
.sideNav a{display:block; height:43px; line-height:43px; overflow:hidden; color:#333; font-size:1.5em; border-left:#ebebeb solid 5px; padding-left:15px;}
.sideNav a:hover, .sideNav .aNow{border-left:#dd0311 solid 5px; background:#4f4f4f; color:#FFF;}
.sideNav .back, .sideNav .back:hover{border:0px; background:#dedede url(../image/back.png) 6px center no-repeat; padding-left:30px; color:#dd0311;}

.pageLoad{text-align:center; color:#999; font-size:1.3em; padding:10px 0; position:relative; top:-10px;}